  <!-- Posts Grid -->
  <div class="row g-4">
    <!-- Card Template -->
   
     <div *ngFor="let post of savedPosts" class="col-md-4">
      <div class="card">
        <img src="sea.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title mb-1">Emily Brown</h5>
          <p class="card-text text-muted small mb-2">Saved 1w ago</p>
<a class="btn btn-sm btn-outline-dark me-2"
   [routerLink]="['/saved-posts/details']">
  View
</a>          <button class="btn btn-sm btn-outline-dark me-2">Share</button>
<button class="btn btn-sm btn-outline-dark">Un Save</button>
        </div>
      </div>
    </div>


  </div>