<div class="container">
  <h2 class="mb-4">Saved Posts</h2>

 <ul class="nav nav-tabs px-3 pt-3 mb-4" >
  <li class="nav-item">
    <a class="nav-link text-success  " [routerLink]="['all']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link  text-success" [routerLink]="['photos']" routerLinkActive="active">Photos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link  text-success" [routerLink]="['videos']" routerLinkActive="active">Videos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link  text-success" [routerLink]="['reels']" routerLinkActive="active">Reels</a>
  </li>
  <li class="nav-item">
    <a class="nav-link  text-success" [routerLink]="['stories']" routerLinkActive="active">Stories</a>
  </li>
  <li class="nav-item">
    <a class="nav-link  text-success" [routerLink]="['friends']" routerLinkActive="active">Friends' Posts</a>
  </li>
</ul>
<router-outlet></router-outlet>
</div>

